.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.multi-search-area {
  background-color: white;
  border-radius: 20px;
  min-height: 30rem;
  padding: 1.25rem;
  width: 40rem;
}